.rectangule-n1{
    display: flex;
    background-color: white;
    width: 300px;
    height: 60.81px;
 
    margin: 0px 0px 0px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px 0px 0px 16px;
}
.rectangule-n3{
    display:flex;
    flex-direction: column;
    font-size: 10px;
    color: black;
    text-decoration: none;
}
.img-n2{
    border-radius: 3px;
    width: 60.81px;
    height: 60.55px;
    left: 0px;
    top: 0px;
}
