.Container42 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.frame {
    margin-left: 58.8px;
    margin-top: 47.55px;
    position: absolute;
}

.happy-box78 {
    width: 319px;
    height: 60px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFF0D3;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    margin-top: 125px;
}

.happy-box79 {
    border: 2px solid #B97B00;
    width: 317px;
    height: 58px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 8px;

}

.btn-157 {
    background-size: 100%;
    background: none;
    height: 63px;
    width: 289px;
    margin-right: 25px;
    top: 0px;
    border: none;
}
.frameimg{
    height: 63px;
    width: 289px;
    }

.distance {
    margin-top: 45px;
}

.usual-link {
font-family: Noto Sans SC;
font-style: normal;
font-size: 16px;
line-height: 23px;
color: #512C0A;
}

