.btn-157 {
    background-image: url(../../img/Initial.png);
    background-size:cover;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 30px;
    width: 195px;
    left: 0px;
    top: 0px;
    border: none;
}

.Container42 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.frame {
    margin-bottom: 50px;
}

.happy-box69 {

}

.happy-box78 {

left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFF0D3;
border-radius: 6px;

height: 34px;
width: 225px;
left: 0px;
top: 0px;

}



