.card-plates{
    margin: 0px 32px 82px 32px;
    overflow: hidden;
    text-align: center;
    width: 292.3px;
    height: 533.36px;
    left: 61.71px;
    top: 127px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 4px -2px 23px rgba(81, 44, 10, 0.4);
    backdrop-filter: blur(4px);
    border-radius: 12px;
}

.article-fonts{
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #342A21;
    margin: 5px;
}

.center-article{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgmark {
width: 97.81px;
height: 107.87px;
left: 0px;
top: 0px;
border-radius: 16px;
margin-bottom: 16px;
}