.header-S1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  background-color: #ffffff;
  height: 71px;
  width: 375px;
  border-radius: 0px;
}
.Scn-1{
  position: absolute;
  width: 175px;
  height: 40.51px;
  left: 0px;
  top: 166.51px;
  
  background: rgba(39, 39, 39, 0.75);
}
.img-b1{
  position: absolute;
  width: 175px;
  height: 585.51px;
}

.title2 {
  width: 375px;
  height: 78px;
  margin: 0px;
  background-color: #ffffff;
}

.Escner-etiquetas {
  width: 375px;
  height: 582px;
}