.Rectangle-1{
    background-image: linear-gradient(to right,#FFF176,#CE8800
    );
    width: 320px;
      height: 220px;
      border-radius: 0px 0px 0px 0px;
  }

  .title3 {
    width: 375px;
    height: 78px;
    margin: 0px;
    background-color: #ffffff;
  }
  .backimg{
  width: 70px;
  height: 78px;
  float: left;
  margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchtitle{
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
    color: #342A21;
    width: 230px;
    height: 78px;
    display: inline-block;
    text-align: center;
  }
  .filtroimg{
    width: 70px;
    height: 78px;
    float: right;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .toptitle{
      margin-top: 15px;
    }

    .logoutimg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 271px;
      height: 45.5px;
      margin-left: 50px;
      margin-top:8px;
      margin-bottom:8px;
    }

    .Mybeertitle{
      width: 375px;
      height: 57.78px;
      margin: 0px;
      display: flex;
      justify-content: center;
      align-items: center
    }

    .Mybeertitle2{
      font-family: Noto Sans SC;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      margin: 0px;
    }

    .challenge-box{
      width: 376px;
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: column
      
      
    }