body,html{
 background-color: #473f3a;
}

  .aceptation-p{
    background-image: url(../../img/Initial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 1.5vh;
    border-radius: 75px;
   
  }

  .Container42 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}