.rectangule-n1{
    display: flex;
    background-color: white;
    width: 345px;
    height: 126px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px 0px 0px 16px;
    margin: 0px 0px 11px 30px;
}
.rectangule-n3{
    overflow: hidden;
    margin: 0px;
}
.img-n2{
    border-radius: 16px 0px 0px 16px;
    width: 140px;
    height: 126px;
    left: 0px;
    top: 0px;
}

.margin99{
    margin: 5px;
    overflow: hidden;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #512C0A;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #512C0A;
}    

.margin-bold {
font-family: Noto Sans SC;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;
color: #512C0A;
margin: 5px;
} 
