  .borde {
border: none;
  }

.inputform {
padding: 7px 8px;
position: static;
width: 307px;
height: 48px;
left: 0px;
top: 20px;
background: #FFF0D3;
border: 1px solid #FFFFFF;
border-radius: 8px;
flex: none;
order: 1;
flex-grow: 0;
margin-bottom: 8px;
margin-left: 10px;
}

.frameimg{
  height: 63px;
  width: 289px;
  }

  .btn-157 {
    background-size: 100%;
    background: none;
    height: 63px;
    width: 289px;
    margin-left: 25px;
    top: 0px;
    border: none;
}

.usual-text {
font-size: 32px;
text-align: center;
font-weight: 700;
line-height: 46.34px;
font-style: normal;
align-items: center;
color: #512C0A;
margin-top: 36px;
margin-bottom: 60px;
}

.hola {
  margin-top: 24px;
  margin-left: 55px;
  margin-bottom: 66px;
}

.acepto {
font-family: Noto_Sans_SC;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 23px;
color: #512C0A;
}