.Rectangle-1{
  background-image: linear-gradient(to right,#FFF176,#CE8800
  );
  width: 345px;
  height: 126px;
  border-radius: 0px 0px 10px 10px;
}

.title-dash{
  margin: 0px;
  font-family: Noto_Sans_SC;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px;
}