.drawfinderbox {
    width: 359.5px;
    height: 158px;
    margin: 0px 0px 12.5px 12.5px;
    background-color:  #FFF5DF;

}

.beername {
    overflow: hidden;
    width: 321px;
    height: 46px;

    display: flex;
    justify-content: flex-end;
    align-items: center
}

.descrip-beer {
    overflow: hidden;
    width: 321px;
    height: 89px;
    background-color: #DBB665;
    box-shadow: 0px 0px 5px rgba(81, 44, 10, 0.3);
    border-radius: 8px;

    display: flex;
    align-items: center;

    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
}

.description {
    margin-left: 140px;
    margin-right: 15px;
}

.imgDrawbeer {
    width: 113px;
    height: 158px;
    position: absolute;
    object-fit:cover;
    border-radius: 8px;
    margin-left: 17px;
}