.Tab-Bar-4-Tabs {
    width: 160px;
    height: 34px;
    margin: 1px 0 0;
    background-color: #ffffff;
  }
  .Vezapp-Item-default {
    width: 40px;
    height: 34px;
    padding: 8px 12.5px 3.5px 11.5px;
    background-color: #e5e5e5;
  }