.title {
  width: 375px;
  height: 78px;
  margin: 0px;
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: #FFF5DF;

}

.backimg{
width: 70px;
height: 78px;
float: left;
margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchtitle{
  font-family: Noto_Sans_SC;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 46px;
  color: #342A21;
  width: 230px;
  height: 78px;
  display: inline-block;
  text-align: center;
}
.filtroimg{
  width: 70px;
  height: 78px;
  float: right;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .toptitle{
    margin-top: 15px;
  }
  .backeternal{
    background: #FFF5DF;
  }

  .chall3 {
    margin-top: 310px;
    z-index:0;
    background-color: #FFF5DF;
  }