body, html{
  background-color: #FFC34F;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-init65 {
  width: 100%;
  width: 320px;
  height: 568px;
  background-image: url(../src/img/fondo.png)
}