body, html{
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: Noto_Sans_SC;
  margin: 0;
}

.screen-size {
   width: 375vw;
  height: 568vh; 
  background-size: contain;
} 

.screen-back {
  background-image: url(../src/img/fondo.png)
}

.screen-scan {
  background-image: url(../src/img/fondoscan.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.screen-search {
  background-color: #FFF5DF;
}

@font-face {
  font-family: Noto_Sans_SC;
  src: url(../src/fonts/Noto_Sans_SC/OFL.txt);
  }